.iqcss-err		{font-style: italic; color: darkred !important;}
.iqlrss-hidden,
.iqlrss-hide	{display: none;}
.iqlrss-show	{display: block;}
tr.iqlrss-show	{display: table-row;}

.iqlrss-flexrow         {display: flex;}
.iqlrss-flexgrid        {display: flex; flex-wrap: wrap; margin: 0 -10px;}
.iqlrss-flexgrid > *    {margin: 10px;}

table.nottoofat th,
table.nottoofat td	{padding: 9px 7px;}
th.no-padleft		{padding-left: 0;}

#carrierServices input[type=text]	{width: 100%;}

#customBoxes tbody label				{display: flex; align-items: center;}
#customBoxes tbody input[type=text]		{width: 75px; margin-right: 4px;}
#customBoxes tbody input[type=checkbox]	{margin-left: 8px;}
#customBoxes tfoot th				{vertical-align: middle;}
#customBoxes tfoot p				{margin-bottom: 0; font-size: 90%;}
#customBoxes .boxactions			{display: flex;}
#customBoxes .boxactions button		{line-height: 1; font-size: 90%;}
#customBoxes .boxactions button:first-child	{margin-right: 12px;}
#customBoxes tr.mimic				{display: none !important;}

#customBoxes input::-webkit-outer-spin-button,
#customBoxes input::-webkit-inner-spin-button	{-webkit-appearance: none; margin: 0;}
#customBoxes input[type=text]					{-moz-appearance: textfield;}

.iqrlssimple-flex-2       {display: flex;}
.iqrlssimple-flex-2 > *   {flex: 1 1 calc( 50% - 8px );}
.iqrlssimple-flex-2 > :first-child    {flex-basis: fit-content; padding-right: 4px;}
.iqrlssimple-flex-2 > :last-child     {padding-left: 4px;}

.iqlrss-api-row fieldset						{position: relative; display: block; width: fit-content;}
.iqlrss-api-row .button-primary				    {position: relative; margin-left: 8px; margin-top: -1px;}
.iqlrss-api-row .button-primary:after			{content: ''; position: absolute; top: 3px; right: -24px; display: block; width: 20px; aspect-ratio: 1; background: url( 'images/spinner.gif' ) no-repeat center/contain; opacity: 0; transition: opacity 0.3s;}
.iqlrss-api-row .button-primary.active:after	{opacity: 1;}
.iqlrss-api-row fieldset .iqlrss-success		{position: relative; top: 5px; margin-left: 4px; border-radius: 100%; color: green;}

.iqlrss-api-row #iqlrssClearCacheButton:after			{content: ''; display: inline-block; position: relative; top: 4px; margin-left: 4px;}
.iqlrss-api-row #iqlrssClearCacheButton.working:after	{background: url( 'images/spinner.gif' ) no-repeat center/contain;}
.iqlrss-api-row #iqlrssClearCacheButton.complete:after	{content: "\f12a"; top: 3px; font-size: 16px; line-height: 1; font-family: dashicons; font-weight: 400; font-style: normal;}

#customBoxActions button        {min-height: 0; padding: 2px 8px 3px; line-height: normal; font-size: 12px; transition: background 0.3s;}

#customBoxSearchWrap            {max-width: 400px;}
#customBoxSearchWrap > p        {padding-left: 2px; font-style: italic; font-size: 12px;}
#customBoxesSearch              {width: 100%; margin-top: 4px; border: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.75); border-radius: 0; background: #FFFFFF; background: linear-gradient(90deg, rgba(255, 255, 255, 1) 88%, rgba(240, 240, 241, 1) 100%);}
#customBoxesSearch::placeholder {font-style: italic; color: #3c434a;}
#customBoxSearchWrap > button   {position: relative; top: -1px; right: -2px; float: right; padding: 0 8px; border: 1px solid #000; border-top: 0px; font-size: 12px; background: none; cursor: pointer; transition: background 0.3s;}
#customBoxSearchWrap > button:hover,
#customBoxSearchWrap > button:focus,
#customBoxSearchWrap > button:active    {background: #fff;}

#customBoxesFormModal .description          {margin-top: 0; letter-spacing: 0.01em; font-style: italic; font-size: 13px;}
#customBoxesFormModal label                 {margin-bottom: 2px; font-weight: 500;}
#customBoxesFormModal .iqlrss-field         {width: calc( 33.33% - 20px );}
#customBoxesFormModal .iqlrss-field.-w25    {width: calc( 25% - 20px );}
#customBoxesFormModal .iqlrss-field:not(.-noninput) input   {width: 100%;}